.marcador{
    background: #abeafe;
    border: 1px solid #fff;
}

.marcador2{
    background: #caefac;
    border: 1px solid #fff;
}

.marcado3{
    background: #cccccc;
    border: 1px solid #fff;
}

body{
    /*background: #f6f6f6;
}